:root {
    /* --fuenteH: "Dosis", sans-serif;
    --fuenteP: "Dosis", sans-serif; */
    --negro-principal: #111;
    --amarillo: #FCE5A5;
    --verde: #71b100;
    --blanco: #ffffff;
    --negro: #000000;
    --morada: #6F418A;
    --rojo: #ff0000;
  
  
  }
html {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-size: 62.5%;
    /* 1 rem = 10px */
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
body {
    font-family: Arial, sans-serif;
    margin: 0;
    
    
}

h1{
    font-size:3.8rem;
}
h2{
    font-size:3.4rem
}
h3{
    font-size:3rem
}
h4{
    font-size:2.6rem
}
.text-info{
    color: white;
    font-size: 2rem;
}
.text-info{
    color: white;
    font-size: 2rem;
}

.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--negro-principal);
    padding-top: 20px;
    overflow: hidden;
}
.sidebar a {
    padding: 15px 8px 15px 16px;
    text-decoration: none;
    font-size: 3rem;
    color: white;
    display: block;
    margin-bottom: 5rem;
}
.sidebar img{
    margin: 0 auto;
    max-width: 100%;
}
.sidebar a:hover {
    background-color: #575757;
}
.content {
    margin-left: 200px;
    padding: 20px;
}
.content form{
    width: 100%;
}
.content form{
    width: 100%;
}
.boton-amarillo{
    background-color:#e08709;
    color:#fff;
    font-weight:700;
    text-decoration:none;
    padding:1rem 3rem;
    text-align:center;
    margin-top:2.5rem;
    display:inline-block;
    border:none
}
.boton-amarillo:hover{
    background-color:#c77808;
    cursor:pointer;
}
.boton-amarillo-block{
    background-color: var(--negro-principal);
    border: 2px solid var(--blanco);
    color: var(--blanco);
    font-weight:700;
    text-decoration:none;
    padding:1rem 3rem;
    text-align:center;
    margin-top:2.5rem;
    display:block;
    transition: 0.3s;
    font-size: 1.8rem;
}
.boton-amarillo-block:hover{
    background-color:var(--blanco);
    color: var(--negro-principal);
    cursor:pointer
}
/* c */
img,picture{
    max-width: 100%;
    padding: 2rem;
    display:block
}
@media (min-width:768px){
    .contenedor-anuncios{
        display:grid;
        gap:2rem;
        grid-template-columns:repeat(3,1fr)
    }
    .contenedor-tareas{
        display:grid;
        gap:2rem;
        grid-template-rows:repeat(2,1fr);
    }
    .tarea{
        display:grid;
        gap:2rem;
        grid-template-columns:2fr 1fr;
    }
    
}

.tarea2{
    display:grid;
    gap:2rem;
    grid-template-columns:1fr;
    border-radius: 3rem;
    
}
.tarea3{
    display:grid;
    gap:2rem;
    grid-template-columns:2fr 1fr;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 8rem;
}
.tarea{
    background-color: var(--negro-principal);
    border:1px solid #c8c8c8;
    padding-top: 2rem;
    padding-bottom: 3rem;
}
.boton-tarea{
    display: flex;
    align-items: center;
    justify-content: center;
}
.boton-tarea a{
    margin: auto 0;
}
.contenido-tarea {
    padding: 0 2rem;
}

    .anuncio{
        background-color: var(--negro-principal);
        border:1px solid #c8c8c8;
        margin-bottom:2rem
    }
    .titulo-curso{
        color: #ffffff;
    }
    .anuncio .contenido-anuncio{
        padding:2rem;
    }
    .anuncio h3,.anuncio p{
        margin:0;
    }
    .precio{
        color:#71b100;
        font-weight:700;
        font-size:2rem;
    }
    .iconos-caracteristicas{
        display:flex;
        list-style:none;
        padding:0;
        max-width:40rem
    }
    .iconos-caracteristicas li{
        flex:1;
        display:flex
    }
    .iconos-caracteristicas li img{
        flex:0 0 3rem;
        margin-right:1rem;
    }
    .iconos-caracteristicas li p{
        font-weight:900;
    }

    
    .chat-header a{
        text-decoration:none;
        color: white;
    }
    
    .copyright{
        font-size:12px;
        text-align: center;
    }
    
    .copyright a {
        text-decoration:none;
        color: #343c41;
    }
    
    #chatbot-toggle-btn {
        position: fixed;
        bottom: 20px;
        right: 20px;
        padding: 0;
        border: none;
        background-color: var(--negro-principal);
        color: #fff;
        border-radius: 1.5rem;
        font-size: 16px;
        cursor: pointer;
        transition: all 0.3s ease;
        width: 7rem;
        z-index: 1001; /* Ensure the button is above the chatbot popup */
    }
    
    #chatbot-toggle-btn:hover {
        background-color: #0074CC;
    }
    
    .chatbot-popup {
        display: none;
        position: fixed;
        bottom: 10rem;
        right: 20px;
        background-color: #fff;
        border-radius: 15px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        width: 350px;
        max-width: 90%;
        z-index: 1000;
    }
    
    .chat-header {
        background-color: var(--negro-principal);
        color: #fff;
        padding: 15px 20px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    #close-btn {
        background-color: transparent;
        border: none;
        color: #fff;
        font-size: 20px;
        cursor: pointer;
    }
    
    .chat-box {
        max-height: 350px;
        overflow-y: auto;
        padding: 15px 20px;
    }
    
    .chat-input {
        display: flex;
        align-items: center;
        padding: 10px 20px;
        border-top: 1px solid #ddd;
    }
    
    #user-input {
        font-family: "Poppins";
        flex: 1;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 12px;
        outline: none;
    }
    
    #send-btn {
        font-family: "Poppins", sans-serif;
        padding: 10px 20px;
        border: none;
        background-color: #1087FF;
        color: #fff;
        border-radius: 12px;
        margin-left: 10px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    
    #send-btn:hover {
        background-color: #0074CC;
    }
    
    .user-message {
        background-color: #f3f3f3;
        color: #333;
        padding: 14px;
        border-radius: 15px;
        margin-bottom: 15px;
        margin-top: 15px;
        margin-left: 10px; /* Push user message to the left */
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: row-reverse; /* Move user message to the right */
    }
    
    .user-message::before {
        content: "\1F468"; /* Man emoji */
        position: absolute;
        bottom: -17px;
        right: -20px;
        margin-bottom: 7px;
        font-size: 20px;
        background-color: #1087FF;
        color: #fff;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }
    
    .bot-message {
        background-color: #1087FF;
        color: #fff;
        padding: 14px;
        border-radius: 15px;
        margin-bottom: 10px;
        margin-top: 15px;
        align-self: flex-start; /* Move bot message to the left */
        margin-right: 10px; /* Push bot message to the right */
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column; /* Adjust for button placement */
    }
    
    .bot-message::before {
        content: "\1F916"; /* Robot emoji */
        position: absolute;
        bottom: -17px;
        left: -14px;
        margin-bottom: 4px;
        font-size: 20px;
        background-color: #1087FF;
        color: #fff;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }
    
    .button-container {
        display: flex;
        justify-content: space-around;
        margin-top: 10px;
    }
    
    .button-container button {
        padding: 10px 50px;
        border: none;
        background-color: #1087FF;
        color: #fff;
        border-radius: 10px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    
    .button-container button:hover {
        background-color: #0074CC;
    }


.tarea-contexto{
    background-color: var(--negro-principal);
}


.tarea-contexto{
    background-color: var(--negro-principal);
}