/* styles.css */

html {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-size: 100%;
    /* 1 rem = 10px */
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background: #000000;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 30%;
    text-align: center;
    color: #ffffff;
}
.logo {
    margin-bottom: 20px;
}


.logo img {
    width: 50%; /* Ajusta este tamaño según tus necesidades */
    height: auto;
}

.login-container h1 {
    margin-bottom: 20px;
    color: #ffffff;
}

.login-container label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    font-weight: bold;
    color: #ffffff;
}

.login-container input[type="email"],
.login-container input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #333333;
    color: #ffffff;
}

.login-container button {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    border: 2px solid;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    font-weight: bold;
}

.login-container button:hover {
    background-color: #000000;
    border: 2px solid #ffffff;
    color: #ffffff;
}

@media (max-width: 400px) {
    .login-container {
        width: 90%;
    }
}
